footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;

  .socials {
      display: flex;
      align-items: center;
      gap: 20px;


      img {
        cursor: pointer;
      }
  }
}
